<footer>

<div class="space"> 
</div>
<div class="bottom_section"> 
<nav>
    <ul>
      <li><%= link_to "Map", "#" %></li>
      <li><%= link_to "News", "#" %></li>
      <li><a href="http://friendsofboxhill.blogspot.com/">Blog</a></li>
      <li><a href="http://www.youtube.com/user/FRIENDSOFBOXHILL/">Youtube</a></li>
    </ul>
  </nav>
</div>



<div class="space"> 
</div> 

</footer>
